ul{
    list-style: none;
    margin: 20px;
    border: 1px solid #666;
    background: #333;
    width: 150px;
}

li {
    color: #fff;
    width: 100px;
    border-radius: 5px;
    padding: 10px;
}



li::before {
    content: "✔";
}

li:hover {
    background: #fff;
    color: #000;
    cursor: pointer;
}
